# Question 5

In [1]:
import pandas as pd
import re
import numpy as np
import nltk
import seaborn as sb
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import re

In [2]:
tweets=pd.read_csv(r"C:\Users\goura\Downloads\CWML\tweets1.csv")

In [3]:
tweets

,textID,text,Unnamed: 2,sentiment
0,cb774db0d1,"I`d have responded, if I were going",NaN,neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,NaN,negative
2,088c60f138,my boss is bullying me...,NaN,negative
3,9642c003ef,what interview! leave me alone,NaN,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...",NaN,negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,NaN,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,NaN,negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,NaN,positive
27479,ed167662a5,But it was worth it ****.,NaN,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,NaN,neutral

In [4]:
tweets=tweets.drop("textID",axis=1)

In [5]:
tweets=tweets.drop("Unnamed: 2",axis=1)

In [6]:
tweets

                                                    text sentiment
0                    I`d have responded, if I were going   neutral
1          Sooo SAD I will miss you here in San Diego!!!  negative
2                              my boss is bullying me...  negative
3                         what interview! leave me alone  negative
4       Sons of ****, why couldn`t they put them on t...  negative
...                                                  ...       ...
27476   wish we could come see u on Denver  husband l...  negative
27477   I`ve wondered about rake to.  The client has ...  negative
27478   Yay good for both of you. Enjoy the break - y...  positive
27479                         But it was worth it  ****.  positive
27480     All this flirting going on - The ATG smiles...   neutral

[27481 rows x 2 columns]

In [7]:
tweets["sentiment"]=tweets["sentiment"].map({"neutral":1,"positive":1,"negative":0})

In [8]:
def text_cleaning(data):
    corpus=[]
    for i in range(0,len(data)):
        process_data=re.sub(r'\W',' ',str(data[i]))
        process_data=process_data.lower()
        process_data=re.sub(r'\d+'," ",process_data)
        process_data=re.sub(r"[^a-zA-Z]",' ',process_data)
        process_data=re.sub(r'\s+',' ',process_data)
        corpus.append(process_data)
    return corpus

In [9]:
cleantext=text_cleaning(tweets["text"])

In [10]:
tweets

                                                    text  sentiment
0                    I`d have responded, if I were going          1
1          Sooo SAD I will miss you here in San Diego!!!          0
2                              my boss is bullying me...          0
3                         what interview! leave me alone          0
4       Sons of ****, why couldn`t they put them on t...          0
...                                                  ...        ...
27476   wish we could come see u on Denver  husband l...          0
27477   I`ve wondered about rake to.  The client has ...          0
27478   Yay good for both of you. Enjoy the break - y...          1
27479                         But it was worth it  ****.          1
27480     All this flirting going on - The ATG smiles...          1

[27481 rows x 2 columns]

In [11]:
vectorizer = TfidfVectorizer()

In [12]:
X = vectorizer.fit_transform(cleantext)

In [13]:
train_text, test_text, train_senti, test_senti= train_test_split(X,tweets["sentiment"], test_size=0.2, random_state=42)

In [14]:
model = LogisticRegression()

model.fit(train_text, train_senti)

LogisticRegression()

In [15]:
model.predict(train_text)

array([1, 1, 1, ..., 1, 0, 0], dtype=int64)

In [16]:
predictions = model.predict(test_text)
accuracy = accuracy_score(test_senti, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.8193560123703838

In [26]:
n=[i  for i in input().split(".")]

Tesla in talks with India to set up factory with up to 500,000 annual capacity 🇮🇳

In [27]:
predictions

array([1, 1, 1, ..., 0, 1, 1], dtype=int64)

In [28]:
type(test_text)

scipy.sparse._csr.csr_matrix

In [29]:
test_senti

1588     1
23879    1
6561     1
2602     0
4003     1
        ..
616      1
4504     1
9887     0
19734    1
16604    1
Name: sentiment, Length: 5497, dtype: int64

In [30]:
clean=text_cleaning(n)

In [31]:
clean

['tesla in talks with india to set up factory with up to annual capacity ']

In [23]:
test= vectorizer.fit_transform(clean)

In [32]:
type(test)

scipy.sparse._csr.csr_matrix

In [33]:
def predict(n):
    clean=text_cleaning(n)
    test= vectorizer.fit_transform(clean)
    pred=model.predict(train_text)
    return pred